.container {
  display: flex;
  flex-direction: column;
  max-width: 1208px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 92px;
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: center;
}

.list {
  max-height: 744px;
  flex-basis: 592px;
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 20px 60px 0 0;
}

.list::-webkit-scrollbar-thumb {
  height: 572px;
}

.info {
  display: flex;
  max-width: 600px;
  box-sizing: border-box;
  flex-direction: column;
}

.status {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.item-done {
  display: flex;
  flex-direction: column;
  max-width: 265px;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 340px;
  overflow: auto;
}

.item-done::-webkit-scrollbar-thumb {
  height: 70px;
  width: 70px;
}

.item-done::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.item-done::-webkit-scrollbar-corner {
  color: var(--background-element);
}

.done {
  color: #00cccc;
}
.doing {
  color: #fff;
}

.glow {
  text-shadow: 0 4px 32px rgba(51, 51, 255, 0.5),
    0 0 8px rgba(51, 51, 255, 0.25), 0 0 16px rgba(51, 51, 255, 0.25);
  line-height: 120px;
}

.link {
  flex-basis: 214px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background-color: #1c1c21;
  padding: 0 20px 0 20px;
  margin-right: 8px;
  text-decoration: none;
  color: #F2F2F3;
  max-width: 856px;
}

.link:hover {
  cursor: pointer;
}

