.card {
    display: block;
    text-align: center;
    cursor: pointer;
}

.image {
    -width: 240px;
    -height: 120px;
    width: 100%;
    display: block;
    object-fit: contain;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.title {
    display: block;
    height: 40px;
}

.link {
    color: inherit;
    text-decoration: inherit;
}
